name: Check CMake Configure

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:

jobs:
  cmake-configure:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install ARM GCC toolchain
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-arm-none-eabi binutils-arm-none-eabi

      - name: Run CMake configure
        shell: bash
        run: |
          cmake -S src -B src/build